name = "zicca-registro-astro"
compatibility_date = "2024-09-23"  # Actualizado a la fecha recomendada
main = "./dist/_worker.js"  # Punto de entrada principal para Cloudflare Workers
compatibility_flags = ["nodejs_compat"]  # Habilita la compatibilidad con m칩dulos de Node.js

# Configuraci칩n b치sica para Cloudflare Pages
[site]
bucket = "./dist"

# Variables de entorno (debes configurar estas mismas en el panel de Cloudflare)
[vars]
NODE_ENV = "production"
# Las siguientes variables deben ser configuradas en el panel de Cloudflare
# DB_SERVER = ""
# DB_DATABASE = ""
# DB_USER = ""
# DB_PASSWORD = ""
# DB_ENCRYPT = ""

# Configuraci칩n para desarrollo local
[dev]
port = 8788
