---
import Layout from '../layouts/Layout.astro';
import RegistroForm from '../components/RegistroForm.astro';
---

<Layout title="Zicca | Registro de Cliente">
  <div class="flex justify-center items-center min-h-screen p-4">
    <RegistroForm />
  </div>
</Layout>
